:root {
    --branco: #ffffff;
    --cinza-claro: #C0C0C0;
    --cinza-escuro: #696969;
    --laranja: #ec6d23;
    --preto: #000000;
    --verde-escuro: #006400;
    --verde: #008000;
    --verde-claro: 	#32CD32;

    --roboto: "Roboto", sans-serif;;
    --parkinsans: "Parkinsans", sans-serif;
}
