{% extends "base.html" %}

{% block title %}Informações - Recicla EG{% endblock %}

{% block content %}
<section class="info">
    <h2>O que pode ser reciclado:
    </h2>
    <p>
        Papéis e papelões: jornais, revistas, cadernos, caixas de papelão e embalagens de papel são recicláveis. No entanto, eles precisam estar secos e limpos, sem resíduos de comida ou óleo.
        <br>
        Plástico: garrafas de PET, embalagens plásticas de alimentos (limpas) e sacolas plásticas.
        <br>
        Vidro: garrafas e potes de vidro são recicláveis.
        <br>
        Metais: latas de alumínio e aço, como as de bebidas e alimentos.
        <br>
        Eletrônicos: aparelhos eletrônicos, como celulares, computadores e baterias.
    </p>
    <h2>
        O que não pode ser reciclado:
    </h2>
    <p>
        Lixos contaminados com comida: embalagens com restos de alimentos, como caixas de pizza, embalagens de fast food ou garrafas com resíduos de bebida, não são recicláveis, pois contaminam o material e dificultam o processo de separação.
        <br>
        Plásticos não recicláveis: alguns tipos de plástico, como filmes plásticos muito finos, itens plásticos com misturas de materiais ou plástico bolha, não são recicláveis e devem ser descartados de forma adequada.
        <br>
        Vidros quebrados: embora o vidro em si seja reciclável, vidros quebrados ou estilhaçados podem ser perigosos e, portanto, não devem ser colocados na reciclagem comum.
        <br>
        Roupas e tecidos: roupas, sapatos ou cobertores não são recicláveis em centros de reciclagem comuns. Alguns centros oferecem pontos de coleta para reaproveitamento, mas não devem ser jogados no lixo reciclável.
        <br>
        Lâmpadas e fluorescentes: lâmpadas comuns e fluorescentes contêm materiais tóxicos e não podem ser recicladas como outros produtos de vidro ou metal. Elas exigem pontos de coleta especializados.
        <br>
        Itens de higiene pessoal: escovas de dentes, fraldas, e outros itens de higiene pessoal não são recicláveis. Esses itens devem ser descartados no lixo comum.
    </p>
    <h2>
        Dicas para uma reciclagem eficaz:
    </h2>
    <p>
        Limpeza: Antes de descartar, limpe bem os materiais para evitar contaminação.
        <br>
        Separação: Separe corretamente os materiais recicláveis dos não recicláveis.
        <br>
        Verifique as normas locais: O processo de reciclagem pode variar conforme a cidade ou região. 
        <br>
        Verifique os pontos de coleta e as diretrizes específicas para garantir que você está reciclado corretamente.
        Contribuir para a reciclagem é um passo simples, mas essencial, para a preservação do meio ambiente. 
        Ao saber o que pode e o que não pode ser reciclado, você pode fazer a diferença na construção de um futuro mais sustentável.
        A reciclagem é uma prática essencial para reduzir o impacto ambiental e promover a sustentabilidade. 
    </p>
</section>
{% endblock %}